{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHRIST CV</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="CHRIST CV"" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-color: rgb(224, 240, 255);">

    <div class="col-md-12">
        <div class="row">
            <img src="{% static 'images/logo.png' %}" alt="Image Unavailable" style="width: 700px; padding-left: 500px;">
        </div>
        <h1 class="mt-2" style="text-align:center;font-weight:bolder;color:rgb(24, 75, 171);">CHRIST CV BUILDER</h1>
        <hr class="mt-0 mb-4">
    </div>
    {% crispy form form.helper %}
</body>

</html>
