<!DOCTYPE html>
<html>
<head>
	<title>View/PDF</title>
	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		body{
			background-color: rgb(224, 240, 255);
		}

		.card{
			background-color: #fff;
			padding: 50px 50px 50px 50px;
			margin:50px;
		}
        
	</style>
</head>

<body  >
	<div class="container">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">
					 <div class="text-center"> 
					<h3>View Your CV or download directly to PDF</h3>
					<a class="btn btn-info" href="{% url 'view' %}" target="_blank">View CV</a>
					<a class="btn btn-info" href="" target="_blank">Download CV</a>
					</div>
				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>


</body>
</html>



